body {
	font-family: 'Trebuchet MS',Verdana,sans-serif;}
	
a:active           {text-decoration:none;color:#A02020}
a:hover            {text-decoration:none;color:#F00000}
a:link             {text-decoration:none;color:#A02020}
a:visited          {text-decoration:none;color:#A02020}
a.good:active      {text-decoration:none;color:#2020D0}
a.good:hover       {text-decoration:none;color:#0000F0}
a.good:link        {text-decoration:none;color:#2020D0}
a.good:visited     {text-decoration:none;color:#2020D0}
a.neutral:active   {text-decoration:none;color:#802080}
a.neutral:hover    {text-decoration:none;color:#C000C0}
a.neutral:link     {text-decoration:none;color:#802080}
a.neutral:visited  {text-decoration:none;color:#802080}
a.bad:active       {text-decoration:none;color:#101010}
a.bad:hover        {text-decoration:none;color:#404040}
a.bad:link         {text-decoration:none;color:#101010}
a.bad:visited      {text-decoration:none;color:#101010}

#gale-nav li {
    list-style: none;
}

ul#gale-nav {
	padding: 0px;
	margin: 0px;
}

#gale-nav ul {
    padding: 0px 0px 0px 15px;
    margin: 2px;
}

div#gale-static-tree-view {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 250px;
	height: 100%;
	margin: 5px;
	padding: 5px;
}

div#gale-content {
	left: 250px;
	position: absolute;
}

/* css code to support functionality to expand code */
.info-wrapper {
    padding: 0 0 3em 0;
    position: relative;
}
.info {
    overflow: hidden;
    transition: 3s;
}
.info-wrapper input[type=checkbox] {
    display: none;
}
.info-wrapper label {
    left: 50%;
    bottom: 0.5em;
    width: 9em;
    height: 1.25em;
    margin:  0 0 0 -2.5em;
    border-bottom: solid 1px #fff;
    border-radius: 0 0 1em 1em;
    overflow: hidden;
    position: absolute;
    font: 700 .67em/1.25em Arial;
    text-align: left;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}
.info-wrapper label .more { margin: -.1em 0 .35em; transition: 3s; }
.info-wrapper input[type=checkbox]:checked ~ .info {
    max-height: 200em;
}
.info-wrapper input[type=checkbox]:not(:checked )~ .info {
    max-height: 10px;
}
.info-wrapper input[type=checkbox]:checked + label .more {
    margin-top: -1.65em;
}

/* ohter css classes */
.installation-info {
	border-style: solid;
	border-width: thin;
	border-color: grey;
	
	margin: 10px;
	padding: 10px;
}
.info .section {
	margin-top: 10px;
}

.instr-header {
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #06C;
	font-weight: bold;
	font-size: 14pt;
	padding: 5px;
	color: white;
}

.instr-body {

}

.code {
	background-color: #ffffff;
	border-style: dashed;
	border-width: thin;
	font-family: 'Courier new',serif;
	margin: 10px;
	padding: 10px;
}

.header {
	background: #06C;
	height: 45px;
	position: relative;
}
.header .name {
	font-size: 30px;
	color: white;
	display: block;
	line-height: inherit;
	width: auto;
	padding: 5px;
}

.content{
	margin-top: 5em;
	margin-left: 10%;
	margin-right: 10%;
}

h1 {
	color: #06C;
}
